<p class="datetime">Current Time: {{datetime}}</p>
<ul>
    <li><a href="#Home">Home</a></li>
    <li><a href="#Something">Something</a></li>
    <li><a href="#Anotherthing">Another thing</a></li>
</ul>