<!doctype html>
 <!--
scaffnode - 624b029-dirty
My angular.js based frontend
Templates compiled on Wednesday, April 15th, 2015, 4:44:53 PM
-->
<html lang="{{__('html_locale')}}" data-ng-app="{{ config.appName }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ config.appname }}</title>
    <meta name="description" content="{{ config.appName }} app!">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="https://{{ config.domain }}/" />
    {# Social/OG tags #}
    {#
    <!-- Google -->
    <meta name="description" content="" />
    <meta name="keywords" content="Scaffnode" />
    <meta name="author" content="Scaffnode" />
    <meta name="copyright" content="Scaffnode" />
    <!-- <meta name="application-name" content="" /> -->
    <!-- Facebook -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://{{ config.domain }}/media/images/facebook_cover_{{__('locale')}}.jpg" />
    <meta property="og:url" content="https://{{ config.domain }}/{% if __('locale') == 'fr' %}fr{% endif %}" />
    <meta property="og:description" content="" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    #}
    {% if config.NODE_ENV == "dev" %}
    <link rel="stylesheet" href="/media/css/style.css">
    {% else %}
    <link rel="stylesheet" href="/media/css/style.min.css">
    {% endif %}
    {# JavaScript is loaded in angular.html and static.html #}
    <!--[if lt IE 9]>
        <script src="/media/js/outdatedbrowser/outdatedbrowser.min.js"></script>
        <link rel="stylesheet" href="/media/css/outdatedbrowser.min.css">
    <![endif]-->
</head>
<body>

 
{% block angularContent %}
    {% if config.NODE_ENV == 'dev' %}
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/templates.js"></script>
    {% else %}
    <script src="/media/js/scripts.min.js"></script>
    <script src="/media/js/templates.js"></script>{# only a little smaller with way more problems if minified - see htmlmin options in the ngtemplates Gruntfile task #}
    {% endif %}
    {# Your angular app will render here#}
    <div id="ContentPane" data-ng-view=""></div>
{% endblock %}
<script>
    // {# Populated by swig on the backend. If you can read this comment rendered in your HTML ... you're looking at a static copy, not one served via the Node.js app #}
    var appname = "{{ config.appName }}";
</script>
 
<!--[if lt IE 9]>
<div id="outdated"></div>{# https://github.com/burocratik/outdated-browser - Not Gruntfile/bower integrated #}
<script>
function addLoadEvent(func) { var oldonload = window.onload; if (typeof window.onload !== 'function') { window.onload = func; } else { window.onload = function() {if (oldonload) { oldonload(); }func();};} }
addLoadEvent(function(){
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: '/media/js/outdatedbrowser/en.html'
    });
});
</script>
<![endif]-->

{# Place any 3rd-party tracking/analytic scripts here #}
</body>
</html>
