<!doctype html>
 <!--
scaffnode - 2eda98a
My angular.js based frontend
Templates compiled on Tuesday, February 24th, 2015, 4:54:26 PM
-->
<html lang="en" data-ng-app="{{ config.appName }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ config.appname }}</title>
    <meta name="description" content="{{ config.appName }} app!">
    {% if config.NODE_ENV == "dev" %}
    <link rel="stylesheet" href="/media/css/style.css">
    {% else %}
    <link rel="stylesheet" href="/media/css/style.min.css">
    {% endif %}
    {# JavaScript is loaded in angular.html and static.html #}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

 
{% block angularContent %}
    {% if config.NODE_ENV == "dev" %}
    <script src="/media/js/scripts.js"></script>
    {% else %}
    <script src="/media/js/scripts.min.js"></script>
    {% endif %}
    {# Angular app will render here #}
    <div id="ContentPane" data-ng-view=""></div>
{% endblock %}
<script>
    // {# Populated by swig on the backend. If you can read this comment rendered in your HTML ... you're looking at a static copy, not one served via the Node.js app #}
    var appname = "{{ config.appName }}";
    var all_scaffnode_model = {{ all_scaffnode_model|safe }};
</script>
 

    {# Place any 3rd-party/tracking/analytic addons here #}



<!-- Begin Templates -->
<script type="text/ng-template" id="home.html">
<div class="col-xs-8">
    {# i18n Multi-language example #}
    <aside>{{ __('Choose language') }}: <a href="?lang=en">{{ __('English') }}</a> <a href="?lang=fr">{{ __('French') }}</a> <a href="?lang=pirate">{{ __('Pirate') }}</a></aside>
    <hr />
    <h1>{{ __('Welcome to the Scaffnode MongoDB Demo') }}</h1>
    <div class="col-xs-12" id="NewItem" ng-hide="editingMode">
        {{ __('Name') }}: <input type="text" name="name" class="form-control" id="name" ng-model="scaffnode_model.name"> <br />
        {{ __('Content') }}: <input type="text" name="content" class="form-control" id="content" ng-model="scaffnode_model.content"><br />
        <button class="btn btn-primary" ng-click="addnew()">Add new</button>
    </div>
    <div class="col-xs-12" id="EditItem" ng-show="editingMode">
        {{ __('Name') }}: <input type="text" name="name" class="form-control" id="editname" ng-model="scaffnode_model.name"> <br />
        {{ __('Content') }}: <input type="text" name="content" class="form-control" id="editcontent" ng-model="scaffnode_model.content"><br />
        <button class="btn btn-primary" ng-click="doEdit()">Edit Content</button>
    </div>
    <br /><span id="status"></span>

    <div class="all_data_item" ng-repeat="data in all_scaffnode_model">
        {{ __('Collected on') }} [[ data.timestamp ]] {{ __('by') }} [[ data.name ]] ([[data.ip]] - [[data.ua]])<br />
        <pre>[[ data.content ]]</pre>
        <button class="btn btn-warning" ng-click="remove(data._id)">Delete</button>
        <button class="btn btn-info" ng-click="edit(data._id)">Edit</button>
        <br /><br /><br />
    </div>
</div>
</script>
<!-- End Templates -->

</body></html>