<!DOCTYPE html>
<html>
<head>
    <title>TODO: Change Me</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" media="all">
    {{#socketio}}
    <script type="text/javascript" charset="utf-8">
        Array.prototype.diff = function(a) {
            return this.filter(function(i) {return !(a.indexOf(i) > -1);});
        };
    </script>
    <script src="/socket.io/socket.io.js"></script>
    {{/socketio}}
    <script src="http://bit.ly/jqsource"></script>
</head>
<body>
    <div id="Wrap">
    {{{yield}}}
    </div>
</body>
</html>