@import "bootstrap";

.hello-webpack{
    color: #FF0000;
}

@font-face{
    font-family: "Open-Logos";
    src: url('./../fonts/openlogos.ttf')
}

.open-logos{
    font-family: "Open-Logos";
    font-size: 54px;
}
