{% block angularContent %}
    {% if config.NODE_ENV == 'dev' %}
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/templates.js"></script>
    {% else %}
    <script src="/media/js/scripts.min.js"></script>
    <script src="/media/js/templates.js"></script>{# only a little smaller with way more problems if minified - see htmlmin options in the ngtemplates Gruntfile task #}
    {% endif %}
    {# Your angular app will render here#}
    <div id="ContentPane" data-ng-view=""></div>
{% endblock %}
<script>
    // {# Populated by swig on the backend. If you can read this comment rendered in your HTML ... you're looking at a static copy, not one served via the Node.js app #}
    var appname = "{{ config.appName }}";
</script>