{% block angularContent %}
    {% if config.NODE_ENV == 'live' %}
    <script src="/media/js/scripts.min.js"></script>
    <script src="/media/js/templates.js"></script>{# only a little smaller with way more problems if minified - see htmlmin options in the ngtemplates Gruntfile task #}
    {% else %}
    <script src="/media/js/scripts.js"></script>
    <script src="/media/js/templates.js"></script>
    {% endif %}
    {# Angular app will render here #}
    <div id="ContentPane" data-ng-view=""></div>
{% endblock %}
<script>
    // {# Populated by swig on the backend. If you can read this comment rendered in your HTML ... you're looking at a static copy, not one served via the Node.js app #}
    var appname = "{{ config.appName }}";
    var all_scaffnode_model = {{ all_scaffnode_model|safe }};
</script>
